@charset "UTF8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh; /*ALTURA TOTAL*/
    width: 100vw; /*LARGURA TOTAL*/
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover; /*PARA A IMAGEM FICAR DO TAMANHO DELA CORRETAMENTE. MOSTRAR A IMAGEM POR COMPLETO*/
    background-attachment: fixed; /*CASO AJÁ BARRA DE ROLAGEM. REMOVERÁ A BARRA DE ROLAGEM CASO TENHA. FICANDO FIXO*/
}

main {
    position: relative; /*A IMAGEM FICARA FIXA E CONSEGUIRA AUMENTAR E DIMINUIR SEM ELA SAIR DO LOCAL DESEJADO. PARA MOVIMENTAR DE POSIÇÃO USAR O POSITION:ABSOLUTE*/
    height: 100vh; /*ALTURA TOTAL*/
}

section#telefone {
    position: absolute; /*PARA POSICIONAR A IMAGEM ONDE QUISER EM QUAQUER CANTO DO SITE*/
    top: 50%; /*TOPO*/
    left: 50%; /*ESQUERDA*/
    transform: translate(-50%, -50%); /*JUNTO COM TOP E LEFT, A IMAGEM FICARA NO CENTRO DA TELA NÃ IMPROTA O TAMANHO DA TELA*/
    height: 627px; /*ALTURA*/
    width: 311px; /*LARGURA*/
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela { /*PARA POSICIONAR A IMAGEM QUE ESTÁ NO IFRAME QUE VEIO DO HOME.HTML*/
    position: relative; /*A IMAGEM FICARA FIXA E CONSEGUIRA AUMENTAR E DIMINUIR SEM ELA SAIR DO LOCAL DESEJADO. PARA MOVIMENTAR DE POSIÇÃO USAR O POSITION:ABSOLUTE*/
    top: 80px; /*TOPO*/
    left: 22px; /*ESQUERDA*/
    width: 269px; /*LARGURA*/ 
    height: 471px; /*ALTURA*/
}
/*IMAGENS DA LOGO DIRECIONADO*/
section#redes-sociais {
    display: flex; /*PARA PODER MOVIMENTAR AS IMAGENS*/
    flex-direction: column; /*IMAGENS FICAR EM COLUNA*/
    text-align: right; /*FICAR A ESQUEDA*/
}
/*IMAGENS DA LOGO*/
section#redes-sociais img {
    width: 50px; /*TAMANHO DAS IMAGENS*/
    margin: 10px;/*ESPAÇAMENTO ENTRE AS IMAGENS*/
    border-radius: 50%; /*AREDONDAMENTO NAS IMAGENS QUADRADAS*/
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);/*LEVE BORDA EM VOLTA DOS MENUS*/
    box-sizing: border-box; /*PARA OS BOTÕES NÃO SE MECHEREM AO PASSAR O MOUSE POR CIMA AO CRIAR O EFEITO :HOVER ABAIXO. A BORDA PASSA A FAZER PARTE DA CAIXA COM ESTÁ CONFIGURAÇÃO*/ 
}

/*CRIAÇÃO DO EFEITO NOS BOTÕES AO PASSAR O MOUSE POR CIMA*/
section#redes-sociais img:hover {
    border: 2px solid rgb(255, 255, 255, 0.637); /*EFEITO DA BORDA DA IMAGEM*/
    transform: translate(-3px -3px); /*MOVIMENTAÇÃO DO BOTÃO LEVEMENTE AO PASSAR O MOUSE POR CIMA*/
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.623);/*LEVE BORDA EM VOLTA DOS MENUS*/
    transition: transform .1s, border 1s; /*LEVARA 1S PARA APAECER O EFEITO AO PASSAR O MOUSE E A COR BRANCA DA BORDA 1S*/
}